<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('new.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <%= form.label t('new.post_code') %>
    <input type="text" name="zip" onKeyUp="AjaxZip3.zip2addr('zip', '', 'user[address]', 'user[address]');" >
    <%= form.label t('new.address') %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label t('new.birth') %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
  <input type="submit" name="commit" value=<%= t('register') %> data-disable-with="Create User">
  </div>
<% end %>
