<p id="notice"><%= notice %></p>

<div class="address"><%= t('index.title') %></div>
<table>
  <thead>
    <tr>
      <th><%= t('new.name') %></th>
      <th><%= t('new.address') %></th>
      <th><%= t('index.age') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each_with_index do |user, idx| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td id="user_age<%= idx %>"></td>
        
        <script>
          var dateStr = "<%== JSON.dump(user.age) %>";
         
          var birthdate = new Date(dateStr.substr(0, 4), dateStr.substr(4, 2)-1, dateStr.substr(6, 2))
 
          var ageCalculation = ( birthDate , nowDate ) => {
            var birthNumber = birthDate.getFullYear() * 10000 
                                      + (birthDate.getMonth() + 1 ) * 100 
                                      + birthDate.getDate();
            var nowNumber = nowDate.getFullYear() * 10000 
                                      + (nowDate.getMonth() + 1 ) * 100 
                                      + nowDate.getDate();
        
            return Math.floor( (nowNumber - birthNumber) / 10000 );
          }
 
          age = ageCalculation( new Date(birthdate) , new Date() );
          document.getElementById("user_age<%= idx %>").innerHTML = age + "<%= t('index.sai') %>" ;
        </script>
        <td><%= link_to t('edit.detail'), user, class: "custom-btn btn-02" %></td>
        <td><%= link_to t('edit.edit'), edit_user_path(user), class: "custom-btn btn-02" %></td>
        <td><%= link_to t('edit.delete'), user, method: :delete, data: { confirm: t('edit.alert') }, class: "custom-btn btn-02" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('index.new'), new_user_path %>
