<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('new.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('new.address') %>:</strong>
  <%= @user.address %>
</p>
<div class="bbb">
<p>

  <strong><%= t('index.age') %>:</strong>
  <div id="age_area"></div>
  
  <input type="hidden" id="aaa" value="<%= @user.age %>">
  <%= javascript_pack_tag 'new' %>
  
  <script>
    document.getElementById('age_area').innerHTML = ageage + "<%= t('index.sai') %>" ;
  </script>
  
  
</p>
</div>
<%= link_to t('edit.edit'), edit_user_path(@user), class: "custom-btn btn-02" %> |
<%= link_to t('edit.return'), users_path, class: "custom-btn btn-02" %>
