<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>年齢:</strong>
  <input type="hidden" id="aaa" value="<%= @user.age %>">
  <%= javascript_pack_tag 'new' %>
  <div id="edit_area"></div>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
